header,
footer {
    background: #fafafa;
}
header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    padding: 0 20px;
}
.header-options #balance-box::before {
    content: '€';
    margin-right: 4px;
}
footer {
    height: 56px;
}
footer .container {
    display: flex;
    height: 100%;
    align-items: center;
}
header h1,
header p {
    margin: 0;
}
header h1 {
    font-size: 16px;
}
main.container {
    min-height: calc(100vh - 136px);
    margin-top: 24px;
}
@media (min-width: 400px) {
    header .content {
        padding: 0;
        width: 85%;
    }
}
@media (min-width: 550px) {
    header .content {
        width: 80%;
    }
}
